<!DOCTYPE html>
<html>
<head>
  <title>ArticleNumber</title>
  <%= stylesheet_link_tag    "unidom/article_number/application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'unidom/article_number/application' %>

</body>
</html>
