<!DOCTYPE html>
<html>
<head>
  <title>ArticleNumber</title>
  <%= stylesheet_link_tag    "article_number/application", media: "all" %>
  <%= javascript_include_tag "article_number/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
